$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "./scroll";
@import "./zoomer";

.carouselCtnr{
	height: 100%;
	cursor: pointer;
	overflow: hidden;
  position: relative;
}

.carousel{
	overflow: hidden;
  height: 100%;
	display:flex;
	position: relative;
	user-select: none;
	z-index:998;
}
.carousel-arrows{
	font-size: 3rem;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	transition: transform 0.4s;
	z-index:999;
	color:white;
}
.carousel-arrows:hover{
	transform: scale(1.2);
}
.carousel-arrow-left{
	left: 0;
	top:0;
	bottom: 0;
	background: linear-gradient(to left, transparent 0%, rgba(0,0,0,0.9) 100%)
}
.carousel-arrow-right{
	right: 0;
	top:0;
	bottom: 0;
	background: linear-gradient(to right, transparent 0%, rgba(0,0,0,0.9) 100%)
}

.carousel-imgCtnr{
	height: 100%;
	position: relative;
} 
.carousel-imgCtnr .c-img{
	height:100%;
}

// overlay just in case we want to add some future style on image over (like a semi opaque background)
.carousel-overlay{
	position:absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}
 // shadow on image over
.carousel-overlay:hover{
	box-shadow: inset 0px 0px 50px rgba(0,0,0,0.8)
}
.carousel-close{
	display: none;
}


